<!DOCTYPE html>
<html ng-app="App">
   <head>
      <meta charset="utf-8">
      <title>Chrysler Un-Official Site</title>
      <link rel="stylesheet" href="./bundle.css" media="screen" title="no title">
      <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Roboto">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
   </head>
   <style>
      body {
        font-family: 'Roboto', sans-serif;

      }
    </style>
   <body>

     <div class="vehicles-wrapper" ng-show="showVehicles">
       <div class="car-row-header">
         <h1>ALL CHRYSLER VEHICLES</h1>
       </div>
       <div class="car-row-border-1">

       </div>
       <div class="car-wrapper">

         <!-- 200 -->
         <div class="car-row" ng-click="showVehicles = !showVehicles">
           <img ui-sref='200' src="https://www.chrysler.com/content/dam/fca-brands/na/chrysler/en_us/global/header/nav_vehicles/2017-chrysler-200-flyout.jpg.image.300.jpg">
           <p class="drop-header">2017 CHRYSLER 200</p>
           <p class="drop-middle1">MSRP STARTING AT</p>
           <p class="drop-cost">$22,610</p>
           <div class="drop-down-border">
           </div>
           <div class="drop-down">
             <div class="drop-down-info">
               <p class="drop-middle1">UP TO HWY MPG</p>
               <p class="drop-middle2">36</p>
             </div>
             <div class="drop-down-info">
               <p class="drop-middle1">UP TO HORSEPOWER</p>
               <p class="drop-middle2">184</p>
             </div>
             <div class="drop-down-info">
               <p class="drop-middle1 side-by-side">TRANSMISSION</p>
               <p class="drop-middle2">9-SPEED</p>
             </div>
           </div>
         </div>

         <!-- 300 -->
         <div class="car-row" ng-click="showVehicles = !showVehicles">
           <img ui-sref='300' src="https://www.chrysler.com/content/dam/fca-brands/na/chrysler/en_us/global/header/nav_vehicles/2017-chrysler-300-flyout.jpg.image.300.jpg">
           <p class="drop-header">2017 CHRYSLER 300</p>
           <p class="drop-middle1">MSRP STARTING AT</p>
           <p class="drop-cost">$32,340</p>
           <div class="drop-down-border">
           </div>
           <div class="drop-down">
             <div class="drop-down-info">
               <p class="drop-middle1">UP TO HWY MPG</p>
               <p class="drop-middle2">31</p>
             </div>
             <div class="drop-down-info">
               <p class="drop-middle1">UP TO HORSEPOWER</p>
               <p class="drop-middle2">363</p>
             </div>
             <div class="drop-down-info">
               <p class="drop-middle1 side-by-side">TORQUE (LB-FT)</p>
               <p class="drop-middle2">394</p>
             </div>
           </div>
         </div>

         <!-- pacifica -->
         <div class="car-row">
           <img src="https://www.chrysler.com/content/dam/fca-brands/na/chrysler/en_us/global/header/nav_vehicles/2017-chrysler-pacifica-flyout.jpg.image.300.jpg">
           <p class="drop-header">2017 CHRYSLER PACIFICA</p>
           <p class="drop-middle1">MSRP STARTING AT</p>
           <p class="drop-cost">$28,995</p>
           <div class="drop-down-border">
           </div>

           <div class="drop-down">
             <div class="drop-down-info">
               <p class="drop-middle1">UP TO HWY MPG</p>
               <p class="drop-middle2">28</p>
             </div>
             <div class="drop-down-info">
               <p class="drop-middle1">HORSEPOWER</p>
               <p class="drop-middle2">287</p>
             </div>
             <div class="drop-down-info">
               <p class="drop-middle1 side-by-side">SEATING UP TO</p>
               <p class="drop-middle2">8</p>
             </div>
           </div>
           </div>

           <!-- pacifica hybrid -->
         <div class="car-row">
           <img src="https://www.chrysler.com/content/dam/fca-brands/na/chrysler/en_us/global/header/nav_vehicles/2017-pacifica-hybrid-global-dropdown-tile.jpg.image.300.jpg">
           <p class="drop-header">2017 CHRYSLER PACIFICA HYBRID</p>
           <p class="drop-middle1">MSRP STARTING AT</p>
           <p class="drop-cost">$41,995</p>
           <div class="drop-down-border">
           </div>
           <div class="drop-down">
             <div class="drop-down-info">
               <p class="drop-middle1">UP TO HWY MPGe</p>
               <p class="drop-middle2">84</p>
             </div>
             <div class="drop-down-info">
               <p class="drop-middle1">HORSEPOWER</p>
               <p class="drop-middle2">287</p>
             </div>
             <div class="drop-down-info">
               <p class="drop-middle1 side-by-side">SEATING UP TO</p>
               <p class="drop-middle2">7</p>
             </div>
           </div>
         </div>
       </div>
     </div>




      <nav class="navbar">
        <div class="left">
          <ul class="text">
            <li>
              <div class="logo" ng-click="showVehicles = !showVehicles">
                <img ui-sref='home' src="https://www.chrysler.com/content/dam/fca-brands/na/chrysler/en_us/global/header/header_logo/chrysler-logo.png" alt="some_text">
              </div>
            </li>
            <li style="cursor: pointer" ng-click="showVehicles=!showVehicles">VEHICLES<i class="material-icons">keyboard_arrow_down</i></li>
            <li>SHOPPING TOOLS<i class="material-icons">keyboard_arrow_down</i></li>
            <li>THIS IS CHRYSLER</li>
            <li>OWNERS<i class="material-icons">keyboard_arrow_down</i></li>
          </ul>
        </div>
        <div class="right">
          <ul class="text">
            <li><i class="material-icons icons-style">location_on</i>DEALERS & VEHICLES<i class="material-icons">keyboard_arrow_down</i></li>
            <li><i class="material-icons icons-style wrench">build</i>BUILD & PRICE</li>
          </ul>
        </div>
      </nav>

      <ui-view></ui-view>



      <script
       src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.0/angular-ui-router.js"></script>
      <script src="./bundle.js"></script>
   </body>
</html>
