<nav class="navbar">
  <div class="left">
    <ul class="text">
      <li>
        <div class="logo">
          <img src="./images/chrysler-logo.png" alt="some_text">
        </div>
      </li>
      <li>VEHICLES<i class="material-icons">keyboard_arrow_down</i></li>
      <li>SHOPPING TOOLS<i class="material-icons">keyboard_arrow_down</i></li>
      <li>THIS IS CHRYSLER</li>
      <li>OWNERS<i class="material-icons">keyboard_arrow_down</i></li>
    </ul>
  </div>
  <div class="right">
    <ul class="text">
      <li><i class="material-icons icons-style">location_on</i>DEALERS & VEHICLES<i class="material-icons">keyboard_arrow_down</i></li>
      <li><i class="material-icons icons-style wrench">build</i>BUILD & PRICE</li>
    </ul>
  </div>
</nav>
