<nav class="navbar">
  <div class="left">
    <ul class="text">
      <li>
        <div class="logo">
          <img src="./images/chrysler-logo.png" alt="some_text">
        </div>
      </li>
      <li>VEHICLES<i class="material-icons">keyboard_arrow_down</i></li>
      <li>SHOPPING TOOLS<i class="material-icons">keyboard_arrow_down</i></li>
      <li>THIS IS CHRYSLER</li>
      <li>OWNERS<i class="material-icons">keyboard_arrow_down</i></li>
    </ul>
  </div>
  <div class="right">
    <ul class="text">
      <li><i class="material-icons icons-style">location_on</i>DEALERS & VEHICLES<i class="material-icons">keyboard_arrow_down</i></li>
      <li><i class="material-icons icons-style-mini wrench">build</i>BUILD & PRICE</li>
    </ul>
  </div>
</nav>
<nav class="mini-nav">
  <ul class="text mini-text">
    <li>300</li>
    <li>Overview</li>
    <li>Gallery</li>
    <li>Features<i class="material-icons">keyboard_arrow_down</i></li>
  </ul>
</nav>




<div class="carousel-300">
  <video loop class="main-video-300" src="http://www.chrysler.com/content/dam/fca-brands/na/chrysler/en_us/2017/300/vlp/desktop/2017-chrysler-300-hero.mp4" autoplay>
  </video>
</div>
<div class="car-container-300">
  <div class="car-financing">
    <div class="">

    </div>
    <div class="msrp">
      {{cars[0].msrp}}
    </div>
    <div class="">

    </div>
    <div class="">

    </div>
    <div class="">

    </div>
  </div>
  <div class="car-packages">
    <div class="car-300">
      placeholder
    </div>
    <div class="car-300">
      placeholder
    </div>
    <div class="car-300">
      placeholder
    </div>
    <div class="car-300">
      placeholder
    </div>
  </div>
  <!-- <div class="custom-300">

  </div> -->
</div>
