
 <div class="carousel">
   <img class="main-picture" src="http://www.chrysler.com/content/dam/fca-brands/na/chrysler/en_us/bhp/hero/desktop/2017-chrysler-300-hero3-1.jpg.image.3840.jpg">

 </div>
 <div class="car-container">
   <div class="cars">
     <div class="car">
       <img src="./images/home-page/images/2017-chrysler-200-lineup.jpg.image.500.jpg" alt="200" >
       <h2>Chrysler 200</h2>
     </div>
     <div class="car">
       <img src="./images/home-page/images/2017-chrysler-300-lineup.jpg.image.500.jpg" alt="300" >
       <h2>Chrysler 300</h2>
     </div>
     <div class="car">
       <img src="./images/home-page/images/2017-chrysler-pacifica-lineup.jpg.image.500.jpg" alt="pacifica" >
       <h2>Chrysler Pacifica</h2>
     </div>
     <div class="car">
       <img src="./images/home-page/images/2017-pacifica-hybrid-bhp-lineup-tile.jpg.image.500.jpg" alt="pacifica-hybrid" >
       <h2>Chrysler Pacifica Hybrid</h2>
     </div>
   </div>
   <div class="lower-container">
     <div class="lower-top">
       <div class="dog-window">
         <div class="dog-top">

         </div>
         <div class="dog-bottom">
           <p>GIVE A DOG A JOB</p>
           <br>
           <p>CANINE COMPANIONS AND THE GIVE A DOG A JOB CAMPAIGN ARE CHANGING<br> LIVES, AND CHRYSLER IS PROUD TO BE A PART OF IT.</p>
         </div>
       </div>
       <div class="kbb-window">
         <div class="kbb-top">

         </div>
         <div class="kbb-bottom">
           <p>
           HOW MUCH IS YOUR CAR WORTH?
           </p>
           <br>
           <p>
           Estimate your vehicle's trade-in value with Kelly Blue Book®. Visit KBB.com® for more.
           </p>
         </div>
       </div>
     </div>
     <div class="lower-bottom">
       <div class="incentives-window">
         <div class="incentives-top">

         </div>
         <div class="incentives-bottom">
           <p>
           INCENTIVES & OFFERS
           </p>
           <br>
           <p>
           No matter where you live, there are great incentives and offers on new Chrysler vehicles. Take a look a the special offers near you.
           </p>
         </div>
       </div>
       <div class="social-window">
         <div class="social-top">

         </div>
         <div class="social-bottom">
           <p>CHRYSLER SOCIAL </p>
           <br>
           <p>When you're ready to get social, visit This is Chrysler<br> to hear the latest buzz from Chrysler and join in the conversation.</p>
         </div>
       </div>
       <div class="find-dealer-window">
         <div class="find-dealer-top">

         </div>
         <div class="find-dealer-bottom">
           <p>FIND A DEALER</p>
           <br>
           <div class="input-box">
             <input type="text" class="home-input">
             <button type="button" class="home-button"><i class="material-icons home-button-icon">search</i></button>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>
