<div class="vehicles-wrapper" ng-show="showVehicles">
  <div class="car-row-header">
    <h1>ALL CHRYSLER VEHICLES</h1>
  </div>
  <div class="car-row-border-1">

  </div>
  <div class="car-wrapper">

    <!-- 200 -->
    <div class="car-row">
      <img ui-sref='200' src="https://www.chrysler.com/content/dam/fca-brands/na/chrysler/en_us/global/header/nav_vehicles/2017-chrysler-200-flyout.jpg.image.300.jpg">
      <p class="drop-header">2017 CHRYSLER 200</p>
      <p class="drop-middle1">MSRP STARTING AT</p>
      <p class="drop-cost">$22,610</p>
      <div class="drop-down-border">
      </div>
      <div class="drop-down">
        <div class="drop-down-info">
          <p class="drop-middle1">UP TO HWY MPG</p>
          <p class="drop-middle2">36</p>
        </div>
        <div class="drop-down-info">
          <p class="drop-middle1">UP TO HORSEPOWER</p>
          <p class="drop-middle2">184</p>
        </div>
        <div class="drop-down-info">
          <p class="drop-middle1 side-by-side">TRANSMISSION</p>
          <p class="drop-middle2">9-SPEED</p>
        </div>
      </div>
    </div>

    <!-- 300 -->
    <div class="car-row">
      <img ui-sref='300' src="https://www.chrysler.com/content/dam/fca-brands/na/chrysler/en_us/global/header/nav_vehicles/2017-chrysler-300-flyout.jpg.image.300.jpg">
      <p class="drop-header">2017 CHRYSLER 300</p>
      <p class="drop-middle1">MSRP STARTING AT</p>
      <p class="drop-cost">$32,340</p>
      <div class="drop-down-border">
      </div>
      <div class="drop-down">
        <div class="drop-down-info">
          <p class="drop-middle1">UP TO HWY MPG</p>
          <p class="drop-middle2">31</p>
        </div>
        <div class="drop-down-info">
          <p class="drop-middle1">UP TO HORSEPOWER</p>
          <p class="drop-middle2">363</p>
        </div>
        <div class="drop-down-info">
          <p class="drop-middle1 side-by-side">TORQUE (LB-FT)</p>
          <p class="drop-middle2">394</p>
        </div>
      </div>
    </div>

    <!-- pacifica -->
    <div class="car-row">
      <img src="https://www.chrysler.com/content/dam/fca-brands/na/chrysler/en_us/global/header/nav_vehicles/2017-chrysler-pacifica-flyout.jpg.image.300.jpg">
      <p class="drop-header">2017 CHRYSLER PACIFICA</p>
      <p class="drop-middle1">MSRP STARTING AT</p>
      <p class="drop-cost">$28,995</p>
      <div class="drop-down-border">
      </div>

      <div class="drop-down">
        <div class="drop-down-info">
          <p class="drop-middle1">UP TO HWY MPG</p>
          <p class="drop-middle2">28</p>
        </div>
        <div class="drop-down-info">
          <p class="drop-middle1">HORSEPOWER</p>
          <p class="drop-middle2">287</p>
        </div>
        <div class="drop-down-info">
          <p class="drop-middle1 side-by-side">SEATING UP TO</p>
          <p class="drop-middle2">8</p>
        </div>
      </div>
      </div>

      <!-- pacifica hybrid -->
    <div class="car-row">
      <img src="https://www.chrysler.com/content/dam/fca-brands/na/chrysler/en_us/global/header/nav_vehicles/2017-pacifica-hybrid-global-dropdown-tile.jpg.image.300.jpg">
      <p class="drop-header">2017 CHRYSLER PACIFICA HYBRID</p>
      <p class="drop-middle1">MSRP STARTING AT</p>
      <p class="drop-cost">$41,995</p>
      <div class="drop-down-border">
      </div>
      <div class="drop-down">
        <div class="drop-down-info">
          <p class="drop-middle1">UP TO HWY MPGe</p>
          <p class="drop-middle2">84</p>
        </div>
        <div class="drop-down-info">
          <p class="drop-middle1">HORSEPOWER</p>
          <p class="drop-middle2">287</p>
        </div>
        <div class="drop-down-info">
          <p class="drop-middle1 side-by-side">SEATING UP TO</p>
          <p class="drop-middle2">7</p>
        </div>
      </div>
    </div>
  </div>
</div>




 <nav class="navbar">
   <div class="left">
     <ul class="text">
       <li>
         <div class="logo">
           <img ui-sref='home' src="./images/chrysler-logo.png" alt="some_text">
         </div>
       </li>
       <li style="cursor: pointer" ng-click="showVehicles=!showVehicles">VEHICLES<i class="material-icons">keyboard_arrow_down</i></li>
       <li>SHOPPING TOOLS<i class="material-icons">keyboard_arrow_down</i></li>
       <li>THIS IS CHRYSLER</li>
       <li>OWNERS<i class="material-icons">keyboard_arrow_down</i></li>
     </ul>
   </div>
   <div class="right">
     <ul class="text">
       <li><i class="material-icons icons-style">location_on</i>DEALERS & VEHICLES<i class="material-icons">keyboard_arrow_down</i></li>
       <li><i class="material-icons icons-style wrench">build</i>BUILD & PRICE</li>
     </ul>
   </div>
 </nav>
 <div class="carousel">
   <img class="main-picture" src="http://www.chrysler.com/content/dam/fca-brands/na/chrysler/en_us/bhp/hero/desktop/2017-chrysler-300-hero3-1.jpg.image.3840.jpg">

 </div>
 <div class="car-container">
   <div class="cars">
     <div class="car">
       <img src="./images/home-page/images/2017-chrysler-200-lineup.jpg.image.500.jpg" alt="200" >
       <h2>Chrysler 200</h2>
     </div>
     <div class="car">
       <img src="./images/home-page/images/2017-chrysler-300-lineup.jpg.image.500.jpg" alt="300" >
       <h2>Chrysler 300</h2>
     </div>
     <div class="car">
       <img src="./images/home-page/images/2017-chrysler-pacifica-lineup.jpg.image.500.jpg" alt="pacifica" >
       <h2>Chrysler Pacifica</h2>
     </div>
     <div class="car">
       <img src="./images/home-page/images/2017-pacifica-hybrid-bhp-lineup-tile.jpg.image.500.jpg" alt="pacifica-hybrid" >
       <h2>Chrysler Pacifica Hybrid</h2>
     </div>
   </div>
   <div class="lower-container">
     <div class="lower-top">
       <div class="dog-window">
         <div class="dog-top">

         </div>
         <div class="dog-bottom">
           <p>GIVE A DOG A JOB</p>
           <br>
           <p>CANINE COMPANIONS AND THE GIVE A DOG A JOB CAMPAIGN ARE CHANGING<br> LIVES, AND CHRYSLER IS PROUD TO BE A PART OF IT.</p>
         </div>
       </div>
       <div class="kbb-window">
         <div class="kbb-top">

         </div>
         <div class="kbb-bottom">
           <p>
           HOW MUCH IS YOUR CAR WORTH?
           </p>
           <br>
           <p>
           Estimate your vehicle's trade-in value with Kelly Blue Book®. Visit KBB.com® for more.
           </p>
         </div>
       </div>
     </div>
     <div class="lower-bottom">
       <div class="incentives-window">
         <div class="incentives-top">

         </div>
         <div class="incentives-bottom">
           <p>
           INCENTIVES & OFFERS
           </p>
           <br>
           <p>
           No matter where you live, there are great incentives and offers on new Chrysler vehicles. Take a look a the special offers near you.
           </p>
         </div>
       </div>
       <div class="social-window">
         <div class="social-top">

         </div>
         <div class="social-bottom">
           <p>CHRYSLER SOCIAL </p>
           <br>
           <p>When you're ready to get social, visit This is Chrysler<br> to hear the latest buzz from Chrysler and join in the conversation.</p>
         </div>
       </div>
       <div class="find-dealer-window">
         <div class="find-dealer-top">

         </div>
         <div class="find-dealer-bottom">
           <p>FIND A DEALER</p>
           <br>
           <div class="input-box">
             <input type="text" class="home-input">
             <button type="button" class="home-button"><i class="material-icons home-button-icon">search</i></button>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>
