
@font-face {
    font-family: roboto;
    style: regular;
    src: url('https://fonts.googleapis.com/css?family=Roboto');

}



.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: black;
  color: white;
  width: 100%;
  height: 80px;


  ul {


    li {
      display: flex;
      align-items: center;
      margin-left: 20px;

    }
  }



  .logo {
  margin-left: 5px;
  width: 145px;
  height: 23px;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%
    }
  }


  .text {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    font-weight: bold;
    list-style-type: none;
    color: white;
    font-size: 16px;


  }





  .left {
    position: absolute;
    left: 40px;

  }


  .right {
    position: absolute;
    right: 20px;
    padding-right: 20px;
  }

  .icons-style {
    color: #7e7e7e;
    font-size: 16px;
    margin-left: 30px;
    margin-right: 8px;

  }

  .wrench {
    transform: scaleX(-1)
  }

  .down-arrow {

  }

}


 .mini-nav {
   display: flex;
   flex-direction: row;
   align-items: center;
   background: #212121;
   width: 100%;
   height: 45px;
   color: white;
   padding-left: 160px;
   box-sizing: border-box;

   ul {


     li {
       display: flex;
       align-items: center;
       margin-left: 20px;

     }

     icons-style-mini {
        text: 10px;
        padding-top: 10px;

     }


   }


   .mini-text {
     display: flex;
     flex-direction: row;
   }
 }








// END OF NAVBARS










.carousel-300 {
  max-height: 640px;
  width: 100%;

  .main-video-300 {
    width: 100%;
    height: auto;

  }

}




// END OF CAROUSEL





  .car-container-300 {
    margin: auto;
    width: 100%;
    background-color: black;
    margin-top: -5px;

  .car-financing {
    height: 119.39px;
    background: white;
    width: 95%;
    margin:auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

  }




  .car-packages {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 95%;
    background: #E7E7E7;
    color: #3A76C0;


  .car-300 {
    width: 22.3%;
    height: 124.99px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
  img {
    width: 100%;
    height: auto;
      }

    h2 {
      margin-top: 15px;
      font-weight: bolder;
      }
    }
  }

  // .custom-300 {
  //   margin: auto;
  //   width: 100%;
  //   background-color: black;
  //
  //
  // }

}
