
@font-face {
    font-family: roboto;
    style: regular;
    src: url('https://fonts.googleapis.com/css?family=Roboto');

}

.vehicles-wrapper {
  width: 100%;
  height: 370px;
  background: white;
  position: absolute;
  top: 80px;


  .car-row-header {
    font-size: 26px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 40px;
    font-weight: bold;
  }

  .car-row-border-1 {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #BEBEBE;

  }

  .car-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 25px;


    .car-row {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      width: 300.03px;

      img {
        width: 300.03px;
        height: auto;
      }

      .drop-header {
        padding-top: 15px;
        font-weight: bold;
      }

      .drop-middle1 {
        padding-top: 17px;
        font-size: 9px;

        .side-by-side {
          display: flex;
        }
      }

      .drop-middle2 {
        padding-top: 5px;
        font-size: 16px;
        font-weight: bold;
      }

      .drop-cost {
        padding-top: 2px;
        font-weight: bold;
        padding-bottom: 15px;
      }



      .drop-down-border {
        border-top-width: 1px;
        border-top-style: solid;
        border-top-color: #BEBEBE;
        width: 100%;
      }


      .drop-down {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;




        .drop-down-info {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

        }
      }
    }
  }
}


.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: black;
  color: white;
  width: 100%;
  height: 80px;


  ul {


    li {
      display: flex;
      align-items: center;
      margin-left: 20px;

    }
  }



  .logo {
  margin-left: 5px;
  width: 145px;
  height: 23px;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%
    }
  }


  .text {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    font-weight: bold;
    list-style-type: none;
    color: white;
    font-size: 14px;

  }


  .left {
    position: absolute;
    left: 40px;

  }


  .right {
    position: absolute;
    right: 20px;
    padding-right: 20px;
  }

  .icons-style {
    color: #7e7e7e;
    font-size: 14px;
    margin-left: 30px;
    margin-right: 8px;

  }

  .wrench {
    transform: scaleX(-1)
  }

  .down-arrow {

  }

}

  .carousel {
    display: flex;
    justify-content: center;
    height: 653px;
    width: 100%;

    .main-picture {
      width: 100%;
      height: auto;
    }

  }


  .car-container {
    margin: auto;
    width: 100%;
    background-color: black;

    .cars {
      margin: auto;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      height: 207.3px;
      width: 95%;
      background: white;


    .car {
      width: 23.7%;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-weight: bold;
    img {
      width: 100%;
      height: auto;
        }

      h2 {
        margin-top: 15px;
        font-weight: bolder;
        }
      }
    }

    .lower-container {
      margin: auto;
      width: 100%;
      background-color: black;



    .lower-top {
      margin: auto;
      display: flex;
      flex-direction: row;
      height: 380.78px;
      width: 95%;
      background: lightgray;



    .dog-window {
      margin-top: 24px;
      margin-left: 24px;

    .dog-top {
      width: 900px;
      height:200px;
      background: url("http://www.chrysler.com//content/dam/fca-brands/na/chrysler/en_us/bhp/promo/desktop/Canine-Companions-BHP-Slice.jpg.image.2000.jpg") no-repeat;
      background-size: 105%;
      background-position: 4% 48%;

          }

    .dog-bottom {
      width: 870px;
      height:110px;
      background-color: black;
      color: white;
      padding-top: 30px;
      padding-left: 30px;
          }

        }


      .kbb-window {
        margin-top: 24px;
        margin-left: 24px;

      .kbb-top {
        width: 470px;
        height:200px;
        background: url("http://www.chrysler.com/content/dam/fca-brands/na/chrysler/en_us/bhp/promo/desktop/2017-chrysler-allvehicles-promobaked2.jpg.image.1000.jpg") no-repeat;
        background-size: 105%;
        background-position: 4% 48%;

            }

      .kbb-bottom {
        width: 450px;
        height:110px;
        background-color: black;
        color: white;
        padding-top: 30px;
        padding-left: 20px;
            }

          }


      }


      .lower-bottom {
        margin: auto;
        display: flex;
        flex-direction: row;
        height: 380.78px;
        width: 95%;
        background: lightgray;



      .incentives-window {
        margin-top: 10px;
        margin-left: 24px;

      .incentives-top {
        width: 437px;
        height:200px;
        background: url("http://www.chrysler.com/content/dam/fca-brands/na/chrysler/en_us/bhp/promo/desktop/2017-chrysler-pacifica-promobaked3.jpg.image.1000.jpg") no-repeat;
        background-size: 100%;
        background-position: 4% 48%;

            }

      .incentives-bottom {
        width: 417px;
        height:110px;
        background-color: black;
        color: white;
        padding-top: 30px;
        padding-left: 20px;
            }

          }


        .social-window {
          margin-top: 10px;
          margin-left: 24px;

        .social-top {
          width: 437px;
          height:200px;
          background: url("http://www.chrysler.com/content/dam/fca-brands/na/chrysler/en_us/bhp/promo/desktop/2017-chrysler-300-promobaked4.jpg.image.1000.jpg") no-repeat;
          background-size: 105%;
          background-position: 4% 48%;

              }

        .social-bottom {
          width: 417px;
          height:110px;
          background-color: black;
          color: white;
          padding-top: 30px;
          padding-left: 20px;
              }

            }



        .find-dealer-window {
          margin-top: 10px;
          margin-left: 24px;

        .find-dealer-top {
          width: 470px;
          height:200px;
          background: url("http://www.chrysler.com/content/dam/fca-brands/na/chrysler/en_us/bhp/promo/desktop/2017-chrysler-300-promobaked5.jpg.image.1000.jpg") no-repeat;
          background-size: 105%;
          background-position: 4% 48%;

              }

        .find-dealer-bottom {
          display: flex;
          flex-direction: column;
          width: 440px;
          height:110px;
          background-color: black;
          color: white;
          padding-top: 30px;
          padding-left: 30px;


          .input-box {
            display: flex;
            height: 15px;

          .home-input {
            border: none;
            border-radius-top-left: 3px;
            border-radius-bottom-left: 3px;
            width: 70%;
            height: 32px;
          }

          .home-button {
            width: 70px;
            height: 35.3px;
            position: relative;
            top: -.7px;
            right: 0px;
            border: none;
            border-bottom-right-radius: 3px;
            border-top-right-radius: 3px;
            background-color: #3A57A0;
            color: #9CAACF;

            .home-button-icon {
              transform: scaleX(-1)

                          }

                        }

                      }

                    }

                  }


                }



              }


          }
